* {
    box-sizing: border-box;
}

body {
    background: #EAF1F6;
    font-family: "Segoe UI", "Open Sans", sans-serif;
    color: #4682B4;
}

.hero-unit {
    margin: 30px auto 0 auto;
    width: 420px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #CFDEEB;
    border-radius: 6px;
    padding: 30px;
}

.hero-unit h2 {
    margin-top: 0px;
    margin-bottom: 10px;
}

#input, #output {
    border: 1px solid #4682B4;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
}

#product {
    width: 22em;
}

#details {
    font-size: 0.6em;
    line-height: 1.2em;
}
#endpoints {
    margin-left: 10px;
}
